<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Create</h1>
{{error}}
<form action="{% url 'double_number' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="person_name">
    <input type="text" name="value">

    <button type="submit">Save</button>
</form>


<h1>List</h1>

<ul>
    {% for item in doubles %}
        <li>Name: {{item.name}} | Value: {{item.value}} | Double: {{item.double_value}} | Date: {{item.date}} | </li>
    {% endfor %}
</ul>
</body>
</html>